* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:link {
  color: #FA3253;
}

a:visited {
  color: #FA3253;
}

a:hover {
  color: #FA3253;
  text-decoration: underline;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(234, 231, 220);
  margin: auto;
  max-width: 600px;
  font-family: 'Open Sans', sans-serif;
}

#header {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header nav {
    align-self: center;
}

#introduction {
    margin-left: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

#projects {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.project {
    margin-left: 1em;
    margin-bottom: 1em;
}

.project p {
    margin-left: 1em;
}

#achievements {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

#achievements ul {
    margin-left: 2em;
    list-style-position: outside;
    list-style-type: disc;
}

#achievements ul li {
    margin-bottom: 1em;
}

#footer {
    margin-bottom: 2em;
}

@media only screen and (max-width: 800px)
{
  body {
    max-width: 400px;
    width: 90%;
  }
}

